<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <title>{% block title %}ServerCheckList{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
</head>
<body>
<div id="overall">{% block body %}{% endblock %}</div>
{% block javascripts %}{% endblock %}
</body>
</html>
